*.pyc
_build
*.log
data/url.txt
conf/client.ini
conf/server.ini
conf/plugins.ini
conf/wordfilter.ini
*.bak
*.orig
mapdata/worlds/*
mapdata/archives/*
data/*.meta
persist/*.ini
conf/email.ini
conf/irc.ini
conf/performance.ini
mapdata/worlds/*
mapdata/archives/*
logs/*
data/*.sql
